/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}



html,
body {
  height: 100%;
}

body {
  color: white;
  background-color: #303030;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.layout {
  padding: 0 30px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 12px;
  background-clip: padding-box;
  background-color: white;
}
